span.wrap-word {
  position: relative;
  overflow: hidden;
  display: inline-block;
  span {
    display: block;
    transition: transform 2.5s $anim;
    &.translate-menu {
      transform: translate(0, 0) !important;
    }
  }
}

.transform-0 {
  transform: translate(0, 0) !important;
}
