$ff-title: 'TNR', sans-serif;
$ff-default: 'Apercu', sans-serif;

$fs-default: 16px;
$fs-caption-1: 7rem;
$fs-caption-2: 5.5rem;
$fs-caption-3: 3.4rem;
$fs-menu: 6rem;

$c-white: rgb(255, 255, 255);
$c-light: #ebebeb;
$c-black: rgb(0, 0, 0);
$c-dark: rgb(26, 26, 26);

$c-bg: #f1ebe7;
$c-theme: rgb(219, 190, 155);
$c-middle: rgb(122, 122, 122);
$c-border: rgb(231, 223, 214);

$p-layout: 3rem;
$b-radius: 2rem;
$b-radius-small: 0.8rem;

$anim: cubic-bezier(0.19, 1, 0.22, 1);

*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background: $c-black;
  color: $c-white;
}

html {
  font-size: $fs-default;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $ff-default;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: $c-black;
  background-color: $c-bg;
  overscroll-behavior: none;
  user-select: none !important;
}

section {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: $c-bg;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $fs-caption-1;
}
h2 {
  font-size: $fs-caption-2;
}

h1,
h2 {
  position: relative;
  font-family: $ff-title;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 0.75;
  text-transform: capitalize;
  margin: 1rem 0 2rem 0;
}
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: $ff-title;
  font-size: $fs-caption-3;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 0.9;
  margin: 1rem 0 2rem 0;
}

p {
  position: relative;
  line-height: 1.2;
  margin: 0.7rem 0;
}

.content {
  position: relative;
  background-color: $c-black;
  transition: all 2.5s $anim;

  overflow: hidden;
  &.with-menu {
    position: fixed;
    transform: skew(-5deg) scale(0.7) translate(10%, -25%);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding-left: $p-layout;
  padding-right: $p-layout;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  display: inline-block;
  background-color: $c-border;
  color: $c-black;
  border: none;
  font-size: 0.9rem;
  font-family: $ff-default;
  line-height: 0;
  padding: 1.1rem 2rem 1.2rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s $anim;
  text-transform: capitalize;
  &:hover {
    background-color: $c-black;
    color: $c-white;
  }
}

input {
  font-size: 0.85rem;
  color: $c-light;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: $c-border solid 0.5px;
  outline: none;
  padding: 0.6rem 0.7rem 0.8rem 0.7rem;
  font-family: $ff-default;
  margin-bottom: 0.5rem;
  transition: all 0.3s $anim;
  font-weight: 400;
  background-color: transparent;
  &:focus-visible {
    border-bottom: $c-white solid 0.5px;
  }
  &::placeholder {
    color: $c-middle;
  }
}

.logo {
  font-family: $ff-title;
  text-transform: capitalize;
  letter-spacing: -0.04rem;
  font-weight: 500;
  font-size: 2.2rem;
  transform: scale();
}
