header {
  position: fixed;
  top: 0;
  left: 0;
  padding: $p-layout 0 0 $p-layout;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: $c-white;
  mix-blend-mode: difference;

  z-index: 100;

  .logo {
    transition: color 0.4s ease-in-out;
  }
  .menu-btn {
    cursor: pointer;
    transition: color 0.4s ease-in-out;
  }

  &.with-menu {
    .logo {
      color: $c-white;
    }
    .menu-btn {
      color: $c-white;
    }
  }
}

footer {
  position: relative;
  width: 40vw;
  background-color: $c-black;
  color: $c-white;
  padding: $p-layout 0;
  border-radius: 0 $b-radius 0 0;
  p {
    margin: 0;
  }
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
    .footer-box {
      flex-basis: 25%;
      .footer-nav {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
      }
      input {
        margin-top: 1rem;
        width: 70%;
      }
      .rights,
      .author {
        color: $c-middle;
        display: flex;
        align-items: flex-end;
        height: 100%;
        font-size: 0.6rem;
      }
    }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $c-black;
  color: $c-white;
  z-index: -1;
  .menu {
    position: relative;
    width: 30%;
    height: 100%;
    padding: $p-layout;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ul.primary-nav {
      position: relative;
      margin-top: 150px;
      li a {
        font-size: $fs-menu;
        &:hover {
          transform: skew(10deg) !important;
        }
      }
    }
    .menu-footer {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    ul.secondary-nav {
      position: relative;
      display: flex;
      gap: 1rem;
      li a {
        color: $c-middle;
      }
    }
  }
}
