header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: $c-black;
  mix-blend-mode: overlay;
  background-color: transparent;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
